@model IEnumerable<CRUD_Alumnos.Models.AlumnoCE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Alumnos</h2>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Agregar")*@
    @*@Html.ActionLink("Crear Nuevo", "Agregar", null, new { @Style = "color:red" }) // Probando agregar estilos, en este caso solo un color*@
    @Html.ActionLink("Crear Nuevo", "Agregar", null, new { @class = "btn btn-primary" }) <!-- // Boton Bootstrap -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @if (item.Sexo == "M")
                {
                    <span>Masculino</span>
                }
                else
                {
                    <span>Femenino</span>
                }
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.CodCiudad)*@ @*// De esta forma muestra el código de ciudad, pero quiero que muetre el nombre de la ciudad*@
                @*@CRUD_Alumnos.Controllers.AlumnoController.NombreCiudad(item.CodCiudad)*@ @*// Invoco el controlador que muestra nombre de ciudad y le paso el código de ciudad*@
                @item.NombreCiudad
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FechaRegistro) // Fecha y hora*@
                @*@Html.DisplayFor(modelItem => item.FechaRegistro.ToShortDateString()) // Esta forma falla porque es una expresion lamda*@
                @*@Html.DisplayForModel(item.FechaRegistro.ToShortDateString()) // Presenta la fecha como un numero*@
                @item.FechaRegistro.ToShortDateString() @*// Fecha formato solo fecha sin hora.*@

            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @Style = "color:yellow" }) |
                @Html.ActionLink("Detalles", "DetalleAlumno", new { id = item.Id }, new { @Style = "color:green" }) |
                @Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.Id }, new { @Style = "color:red" }) |
            </td>
        </tr>
    }

</table>

@section  scripts {
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm('Está seguro que desea eliminar?')) {
                event.preventDefault();
            }
        });
    </script>
}